USE [Farmacia]
GO
/****** Object:  Table [dbo].[Boleta]    Script Date: 14/06/2020 16:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boleta](
	[num_boleta] [varchar](8) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[cod_empl] [varchar](8) NOT NULL,
	[cod_cli] [varchar](8) NOT NULL,
	[num_ordenpedido] [varchar](8) NOT NULL,
	[subtotal] [int] NOT NULL,
	[descuento] [int] NULL,
	[total] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[num_boleta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 14/06/2020 16:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[cod_cate] [varchar](8) NOT NULL,
	[nom_des] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_cate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 14/06/2020 16:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[cod_cli] [varchar](8) NOT NULL,
	[nom_cli] [varchar](40) NOT NULL,
	[dir_cli] [varchar](40) NULL,
	[cod_dis] [varchar](8) NULL,
	[sexo] [varchar](1) NOT NULL,
	[DNI] [int] NULL,
	[RUC] [int] NULL,
	[Telefono] [int] NULL,
	[Celular] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_cli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleOrdenPedido]    Script Date: 14/06/2020 16:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleOrdenPedido](
	[num_detordenp] [varchar](8) NOT NULL,
	[cod_pro] [varchar](8) NOT NULL,
	[nom_pro] [varchar](40) NOT NULL,
	[cantidad] [decimal](10, 2) NULL,
	[precio_venta] [decimal](10, 2) NULL,
	[importe] [decimal](10, 2) NULL,
	[num_ordenp] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[num_detordenp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 14/06/2020 16:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[cod_dis] [varchar](8) NOT NULL,
	[nom_dis] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_dis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 14/06/2020 16:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[cod_emp] [varchar](8) NOT NULL,
	[nom_emp] [varchar](40) NOT NULL,
	[dir_emp] [varchar](40) NULL,
	[cod_dis] [varchar](8) NOT NULL,
	[cargo] [varchar](40) NOT NULL,
	[edad] [varchar](2) NULL,
	[tel] [int] NOT NULL,
	[cel] [int] NULL,
	[ingreso] [datetime] NOT NULL,
	[clave] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_emp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenPedido]    Script Date: 14/06/2020 16:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenPedido](
	[num_ordenPedido] [varchar](8) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[cod_cli] [varchar](8) NULL,
	[nom_cli] [varchar](40) NULL,
	[cod_emp] [varchar](8) NULL,
	[cod_tipoPago] [varchar](8) NULL,
	[total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[num_ordenPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presentacion]    Script Date: 14/06/2020 16:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presentacion](
	[cod_pre] [varchar](8) NOT NULL,
	[nom_pre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_pre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 14/06/2020 16:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[cod_pro] [varchar](8) NOT NULL,
	[nom_pro] [varchar](40) NOT NULL,
	[pre_venta] [decimal](10, 2) NOT NULL,
	[pre_compra] [decimal](10, 2) NOT NULL,
	[fecha_venc] [datetime] NOT NULL,
	[stock] [int] NOT NULL,
	[cod_cate] [varchar](8) NOT NULL,
	[cod_prov] [varchar](8) NULL,
	[cod_pres] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_pro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 14/06/2020 16:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[cod_prov] [varchar](8) NOT NULL,
	[nom_prov] [varchar](40) NOT NULL,
	[dir_prov] [varchar](50) NULL,
	[telefono] [char](7) NULL,
	[celular] [char](10) NULL,
	[id_distrito] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_prov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 14/06/2020 16:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[cod_usu] [varchar](8) NOT NULL,
	[cod_emp] [varchar](8) NOT NULL,
	[nivel_usu] [varchar](2) NOT NULL,
	[nom_usu] [varchar](30) NOT NULL,
	[password] [varchar](10) NOT NULL,
	[activo] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_usu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Boleta] ([num_boleta], [fecha], [cod_empl], [cod_cli], [num_ordenpedido], [subtotal], [descuento], [total]) VALUES (N'12344632', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'00123', N'00534', N'88883429', 746, 240, 30)
INSERT [dbo].[Boleta] ([num_boleta], [fecha], [cod_empl], [cod_cli], [num_ordenpedido], [subtotal], [descuento], [total]) VALUES (N'12345676', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'00123', N'00267', N'88883428', 644, 340, 10)
INSERT [dbo].[Boleta] ([num_boleta], [fecha], [cod_empl], [cod_cli], [num_ordenpedido], [subtotal], [descuento], [total]) VALUES (N'12345678', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'00123', N'00819', N'88883425', 342, 340, 10)
GO
INSERT [dbo].[Categoria] ([cod_cate], [nom_des]) VALUES (N'23423', N'FIEBRE')
INSERT [dbo].[Categoria] ([cod_cate], [nom_des]) VALUES (N'24567', N'DESINFLAMANTE DE ROSTRO')
INSERT [dbo].[Categoria] ([cod_cate], [nom_des]) VALUES (N'34345', N'PARA LOS DOLORES MUSCULARES')
GO
INSERT [dbo].[Clientes] ([cod_cli], [nom_cli], [dir_cli], [cod_dis], [sexo], [DNI], [RUC], [Telefono], [Celular]) VALUES (N'34984835', N'CLEMENTE', N'LIMA S/N', N'062', N'M', 72884742, 1072884742, 3288428, 997547215)
INSERT [dbo].[Clientes] ([cod_cli], [nom_cli], [dir_cli], [cod_dis], [sexo], [DNI], [RUC], [Telefono], [Celular]) VALUES (N'45346523', N'RUFUEL', N'LIMA S/N', N'034', N'M', 84884042, 1084884042, 3266428, 997547699)
INSERT [dbo].[Clientes] ([cod_cli], [nom_cli], [dir_cli], [cod_dis], [sexo], [DNI], [RUC], [Telefono], [Celular]) VALUES (N'45346524', N'DANTE', N'LIMA S/N', N'054', N'M', 84884942, 1084884942, 3266428, 997547688)
GO
INSERT [dbo].[DetalleOrdenPedido] ([num_detordenp], [cod_pro], [nom_pro], [cantidad], [precio_venta], [importe], [num_ordenp]) VALUES (N'32', N'090398', N'ASPIRINAS', CAST(19.30 AS Decimal(10, 2)), CAST(2.50 AS Decimal(10, 2)), CAST(0.12 AS Decimal(10, 2)), N'88883425')
INSERT [dbo].[DetalleOrdenPedido] ([num_detordenp], [cod_pro], [nom_pro], [cantidad], [precio_venta], [importe], [num_ordenp]) VALUES (N'43', N'003903', N'CELESTAL', CAST(15.30 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), CAST(0.12 AS Decimal(10, 2)), N'88883428')
INSERT [dbo].[DetalleOrdenPedido] ([num_detordenp], [cod_pro], [nom_pro], [cantidad], [precio_venta], [importe], [num_ordenp]) VALUES (N'44', N'090358', N'DOLOCONTO', CAST(19.30 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), CAST(0.18 AS Decimal(10, 2)), N'88883427')
GO
INSERT [dbo].[Distrito] ([cod_dis], [nom_dis]) VALUES (N'054', N'ATE')
INSERT [dbo].[Distrito] ([cod_dis], [nom_dis]) VALUES (N'065', N'CHOSICA')
INSERT [dbo].[Distrito] ([cod_dis], [nom_dis]) VALUES (N'056', N'LIMA')
GO
INSERT [dbo].[Empleado] ([cod_emp], [nom_emp], [dir_emp], [cod_dis], [cargo], [edad], [tel], [cel], [ingreso], [clave]) VALUES (N'20140152', N'HARRY VARGAS', N'LIMA S/N', N'062', N'SUPERVISOR', N'24', 8346543, 137287431, CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'1234')
INSERT [dbo].[Empleado] ([cod_emp], [nom_emp], [dir_emp], [cod_dis], [cargo], [edad], [tel], [cel], [ingreso], [clave]) VALUES (N'20566162', N'MANOLO MANILIN', N'LIMA S/N', N'065', N'FARMACEUTICO', N'24', 2224562, 137287253, CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'1234')
INSERT [dbo].[Empleado] ([cod_emp], [nom_emp], [dir_emp], [cod_dis], [cargo], [edad], [tel], [cel], [ingreso], [clave]) VALUES (N'24360992', N'APONTE VENGAS', N'LIMA S/N', N'065', N'ADMIN', N'24', 8346543, 997287215, CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'1234')
GO
INSERT [dbo].[OrdenPedido] ([num_ordenPedido], [fecha], [cod_cli], [nom_cli], [cod_emp], [cod_tipoPago], [total]) VALUES (N'88883425', CAST(N'2016-08-08T00:00:00.000' AS DateTime), N'34984835', N'HARRY VARGAS', N'24360992', N'44333475', 245)
INSERT [dbo].[OrdenPedido] ([num_ordenPedido], [fecha], [cod_cli], [nom_cli], [cod_emp], [cod_tipoPago], [total]) VALUES (N'88883426', CAST(N'2016-08-08T00:00:00.000' AS DateTime), N'45346576', N'LUIS BARIOS', N'65646454', N'43334634', 80)
INSERT [dbo].[OrdenPedido] ([num_ordenPedido], [fecha], [cod_cli], [nom_cli], [cod_emp], [cod_tipoPago], [total]) VALUES (N'88883427', CAST(N'2016-08-08T00:00:00.000' AS DateTime), N'45346523', N'GLADYS SOTO', N'94364339', N'44335457', 600)
GO
INSERT [dbo].[Presentacion] ([cod_pre], [nom_pre]) VALUES (N'0026', N'HARRY VARGAS')
INSERT [dbo].[Presentacion] ([cod_pre], [nom_pre]) VALUES (N'0027', N'RUFUEL SOTO')
INSERT [dbo].[Presentacion] ([cod_pre], [nom_pre]) VALUES (N'0028', N'ANGEL ANGUILA')
GO
INSERT [dbo].[Producto] ([cod_pro], [nom_pro], [pre_venta], [pre_compra], [fecha_venc], [stock], [cod_cate], [cod_prov], [cod_pres]) VALUES (N'000938', N'PANADOL', CAST(1.50 AS Decimal(10, 2)), CAST(0.60 AS Decimal(10, 2)), CAST(N'1900-01-01T00:00:00.000' AS DateTime), 20, N'56445', N'00823', N'0027')
INSERT [dbo].[Producto] ([cod_pro], [nom_pro], [pre_venta], [pre_compra], [fecha_venc], [stock], [cod_cate], [cod_prov], [cod_pres]) VALUES (N'000939', N'ACETAMINOFEN', CAST(1.90 AS Decimal(10, 2)), CAST(0.80 AS Decimal(10, 2)), CAST(N'2012-06-18T22:34:09.000' AS DateTime), 20, N'56445', N'090398', N'0030')
INSERT [dbo].[Producto] ([cod_pro], [nom_pro], [pre_venta], [pre_compra], [fecha_venc], [stock], [cod_cate], [cod_prov], [cod_pres]) VALUES (N'003903', N'CELESTAL', CAST(2.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(10, 2)), CAST(N'1900-01-01T00:00:00.000' AS DateTime), 20, N'24567', N'00824', N'0029')
GO
INSERT [dbo].[Proveedor] ([cod_prov], [nom_prov], [dir_prov], [telefono], [celular], [id_distrito]) VALUES (N'00123', N'okas', N'lima VICTORIA s/n', N'3244334', N'9972872344', N'034')
INSERT [dbo].[Proveedor] ([cod_prov], [nom_prov], [dir_prov], [telefono], [celular], [id_distrito]) VALUES (N'00127', N'faresca', N'lima VICTORIA s/n', N'3246450', N'997654566 ', N'056')
INSERT [dbo].[Proveedor] ([cod_prov], [nom_prov], [dir_prov], [telefono], [celular], [id_distrito]) VALUES (N'00128', N'luis las casa', N'lima VICTORIA s/n', N'3244550', N'997287262 ', N'062')
GO
INSERT [dbo].[Usuario] ([cod_usu], [cod_emp], [nivel_usu], [nom_usu], [password], [activo]) VALUES (N'12345678', N'24360992', N'1', N'HARRY', N'1234', N'si')
INSERT [dbo].[Usuario] ([cod_usu], [cod_emp], [nivel_usu], [nom_usu], [password], [activo]) VALUES (N'23445348', N'94360139', N'4', N'JESUS', N'2365', N'si')
INSERT [dbo].[Usuario] ([cod_usu], [cod_emp], [nivel_usu], [nom_usu], [password], [activo]) VALUES (N'23456789', N'65646454', N'2', N'BLADI', N'4343', N'si')
GO
/****** Object:  Index [uni_dni]    Script Date: 14/06/2020 16:53:24 ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [uni_dni] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uni_distrito]    Script Date: 14/06/2020 16:53:25 ******/
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [uni_distrito] UNIQUE NONCLUSTERED 
(
	[nom_dis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Boleta]  WITH CHECK ADD  CONSTRAINT [pk_or_pedi] FOREIGN KEY([num_ordenpedido])
REFERENCES [dbo].[OrdenPedido] ([num_ordenPedido])
GO
ALTER TABLE [dbo].[Boleta] CHECK CONSTRAINT [pk_or_pedi]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [pk_cod_dis_cli] FOREIGN KEY([cod_dis])
REFERENCES [dbo].[Distrito] ([cod_dis])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [pk_cod_dis_cli]
GO
ALTER TABLE [dbo].[DetalleOrdenPedido]  WITH CHECK ADD  CONSTRAINT [fk_cod_pro] FOREIGN KEY([cod_pro])
REFERENCES [dbo].[Producto] ([cod_pro])
GO
ALTER TABLE [dbo].[DetalleOrdenPedido] CHECK CONSTRAINT [fk_cod_pro]
GO
ALTER TABLE [dbo].[DetalleOrdenPedido]  WITH CHECK ADD  CONSTRAINT [fk_num_ordenp] FOREIGN KEY([num_ordenp])
REFERENCES [dbo].[OrdenPedido] ([num_ordenPedido])
GO
ALTER TABLE [dbo].[DetalleOrdenPedido] CHECK CONSTRAINT [fk_num_ordenp]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [pk_cod_dis] FOREIGN KEY([cod_dis])
REFERENCES [dbo].[Distrito] ([cod_dis])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [pk_cod_dis]
GO
ALTER TABLE [dbo].[OrdenPedido]  WITH CHECK ADD  CONSTRAINT [pk_cod_cli] FOREIGN KEY([cod_cli])
REFERENCES [dbo].[Clientes] ([cod_cli])
GO
ALTER TABLE [dbo].[OrdenPedido] CHECK CONSTRAINT [pk_cod_cli]
GO
ALTER TABLE [dbo].[OrdenPedido]  WITH CHECK ADD  CONSTRAINT [pk_cod_clis] FOREIGN KEY([cod_cli])
REFERENCES [dbo].[Clientes] ([cod_cli])
GO
ALTER TABLE [dbo].[OrdenPedido] CHECK CONSTRAINT [pk_cod_clis]
GO
ALTER TABLE [dbo].[OrdenPedido]  WITH CHECK ADD  CONSTRAINT [pk_cod_empl] FOREIGN KEY([cod_emp])
REFERENCES [dbo].[Empleado] ([cod_emp])
GO
ALTER TABLE [dbo].[OrdenPedido] CHECK CONSTRAINT [pk_cod_empl]
GO
ALTER TABLE [dbo].[OrdenPedido]  WITH CHECK ADD  CONSTRAINT [pk_cod_enpL] FOREIGN KEY([cod_emp])
REFERENCES [dbo].[Empleado] ([cod_emp])
GO
ALTER TABLE [dbo].[OrdenPedido] CHECK CONSTRAINT [pk_cod_enpL]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [pk_cod_cate] FOREIGN KEY([cod_cate])
REFERENCES [dbo].[Categoria] ([cod_cate])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [pk_cod_cate]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [pk_cod_presentacion] FOREIGN KEY([cod_pres])
REFERENCES [dbo].[Presentacion] ([cod_pre])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [pk_cod_presentacion]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [pk_cod_prove] FOREIGN KEY([cod_prov])
REFERENCES [dbo].[Proveedor] ([cod_prov])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [pk_cod_prove]
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [pk_cod_dis_pro] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[Distrito] ([cod_dis])
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [pk_cod_dis_pro]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [pk_cod_emple] FOREIGN KEY([cod_emp])
REFERENCES [dbo].[Empleado] ([cod_emp])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [pk_cod_emple]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [CK_DNI] CHECK  ((len([dni])=(8)))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [CK_DNI]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [CK_SEXO] CHECK  (([SEXO]='F' OR [SEXO]='M'))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [CK_SEXO]
GO
